{% extends 'events/base.html' %}

{% block content %}
    </br>
    <!-- <h1 class="display-5 fw-bold">Professional Knowledge</h1> -->
    <p class="lead mb-4">
        My name is Ricardo Andrade, I am from Ariquemes - RO. I have a degree in information systems and a postgraduate degree in software engineering. Currently, I work at the Court of Justice of the State of Rondônia.
    </p>
    <p class="lead mb-4">
        At TJRO I am a Data Analyst and I work on a project/platform called EOLIS, aimed at the 1st degree area of ​​jurisdiction.
        In it I develop some activities, such as:
    </p>    
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Activities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Creation of, classes, services, repositories, models, controllers (PHP 8- Laravel).</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Creation of data marts, pipe lines and tasks for data maintenance according to pre-established business rules.</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Create and maintain docker images - aimed at the development and production environment with CI/CD continuous integration and delivery.</td>
            </tr>
        </tbody>
    </table>        
    <p>
        Skills
    </p>    
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Activities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Senior Back End | SQL | PLSQL;</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Full Back End | Python | PHP | Laravel;</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Working with ETL (extraction, transformation and loading) in ORACLE Database | Using the AirFlow Orchestration tool and ODI Studio;.</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td colspan="2">I use the GIT versioning tool | CI/CD;</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td colspan="2">Full Front End | HTML5 | CSS3 | JavaScript.</td>
            </tr>
        </tbody>
    </table>
    <p>
        My goal is to have a quality of life, working from home, being able to perform a quality job, looking for new challenges together with the IT team.
    </p>
{% endblock %}