{% extends 'events/base.html' %}
{% block content %}
    </br>
    <main class="px-3">       
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                  <th scope="col"> List of old Quotes</th>
                </tr>
            </thead>
            <tbody>
                {% for quote in all_quotes %}
                    <tr>
                        <td align="left">{{ quote }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </main>
{% endblock %}