{% extends 'events/base.html' %}
{% load static %}
{% block content %}
    <main class="px-3">       
        <h1>
            Choris quotes.
            </br></br>
            <img src="{%static 'img/choris-logo.png'%}" alt="" class="img-fluid rounded-circle">            
        </h1>
        </br>
        <form method="get" action="#">
            <div class="row">
                <div class="col s6 offset-s3">
                    <div class="lead">                        
                        <input autofocus="" name="quote" type="text" class="" value="" placeholder="Enter the quote"
                    </div>
                    </br></br>
                    <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" type="submit">
                        Generate quote
                    </button>
                </div>
            </div>
        </form>
    </main>
    </br>
    {% include 'events/event_list.html' %}
{% endblock %}