{% extends 'events/base.html' %}
{% load static %}
{% block content %}
    <main class="px-3">       
        <h1>
            Choris quotes.
            </br></br>
            <img src="{%static 'img/choris-logo.png'%}" alt="" class="img-fluid rounded-circle">            
        </h1>
        </br>
        {% if submitted %}
            Deu certo
        {% else %}
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col s6 offset-s3">
                        <div class="lead">                        
                            {{ form.as_p }}
                        </div>
                        </br></br>
                        <button class="btn btn-lg btn-warning" type="submit">
                            Generate quote
                        </button>
                    </div>
                </div>
            </form>
        {% endif %}
    </main>
    </br>
    {% include 'events/event_list.html' %}
{% endblock %}