{% extends 'events/base.html' %}
{% load static %}
{% block content %}
    </br>
    <main class="px-3">       
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                  <th scope="col"> Quotes</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td align="left">{{ answer }}</td>
                </tr> -->
                <tr>
                    <img src="{%static 'img/choris-quotes.png'%}" alt="" class="img-fluid">
                </tr>
            </tbody>
        </table>        
    </main>
{% endblock %}